@import url('https://fonts.cdnfonts.com/css/striker');
@import url('https://fonts.cdnfonts.com/css/vemanem-pro-2');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');



* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-family: 'Baloo 2', sans-serif;
  scroll-behavior: smooth;
  font-size: 1.02rem;
}

:root {
  --bigFont: 'Vemanem Pro', sans-serif;
  --color: salmon;
  --el_shadow : rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --navBar : #111235;
  --blueBox : #3f4cf3;
}


/* body{
  background: #ecf3ff;
} */
body::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: salmon;
  border-radius: 10px;
}

h3 {
  font-family: 'Vemanem Pro', sans-serif;
}

a {
  color: black;
}

.wrapper {
  width: 90%;
  padding-top: 3vh;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 10;
  position: relative;
}

h3 sub {
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color);
}


hr {
  width: 100%;
  border-top: 1px solid white;
}


.blueBox{
  background: var(--blueBox);
  width: 90%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vh 5%;
}

.blueBox h3{
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
}