.dashboard {
  width: 100%;
  min-height: 100vh;
}

.banner {
  background: skyblue;
  width: 100%;
  height: 320px;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--blueBox);
  z-index: 1;
}

.dashboard main {
  z-index: 20;
  width: 90%;
  padding: 3vh 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lowBox {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 8fr;
  align-items: flex-start;
}

.profileBox {
  display: flex;
  width: max-content;
  justify-content: flex-start;
}

.profileBox header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: white;
}

.profileBox header img {
  width: 70px;
  height: 70px;
  background: black;
  border-radius: 50%;
}

.profileBox header article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid wheat;
}

.profileBox header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profileBox header div p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileBox header div p strong {
  font-size: 1.3rem;
}


.gameBox {
  border-radius: 10px;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.featuredBox {
  width: 100%;
  border-radius: 10px;
  background: white;
  height: 280px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.featuredBox header {
  position: relative;
  display: flex;
  justify-content: center;
}

.featuredBox header img {
  position: absolute;
  margin: auto;
  height: 330px;
  bottom: 0;
}

.featuredBox div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.featuredBox div nav{
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.featuredBox div nav img{
  width: 30px;
  height: 30px;
}

.featuredBox div article{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.featuredBox div article small{
  font-size: 1rem;
  font-weight: 400;
}
.featuredBox div article p{
  display: flex;
  flex-direction: column;
}

.featuredBox div article p span{
  font-size: 1.5rem;
}
.featuredBox div article p span:nth-child(2){
  color: darkgray;
}
.featuredBox div article nav sub{
  width: 50px;
  height: 25px;
  box-shadow: var(--el_shadow);
  border-radius: 40px;
}

.featuredBox div article nav sub:nth-child(1){
  background: skyblue;
}
.featuredBox div article nav sub:nth-child(2){
  background: wheat;
}
.featuredBox div article nav sub:nth-child(3){
  background: wheat;
}

.featuredBox legend{
  background: rgba(0, 0, 0, 0.299);
  padding: 3px 10px;
  border-radius: 40px;
  color: white;
  display: flex;
  align-items: center;
}
.featuredBox > *:nth-last-child(1){
  display: flex;
  align-items: flex-end;
}
.featuredBox > *:nth-last-child(1) p{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.featuredBox div strong{
  font-size: 1.8rem;
}

.activeBox{
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.activeBox img{
  width: 30px;
  height: 30px;
  object-fit: contain;
  background: salmon;
  border-radius: 50%;
}
.activeBox > *:nth-child(1){
  left: 20px;
  z-index: 30;
  position: relative;
}
.activeBox > *:nth-child(2){
  left: 10px;
  z-index: 20;
  position: relative;
}
.activeBox > *:nth-child(3){
  position: relative;
  left: -0;
  z-index: 15;
}
.activeBox > *:nth-child(4){
  position: relative;
  left: -10px;
  z-index: 10;
}

.roomBoxHolder{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 2rem;
  padding: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: rgba(255, 255, 255, 0.256);
}

.roomBoxHolder header{
  display: flex;
  gap: 2.5rem;
  overflow-x: auto;
}
.roomBoxHolder header::-webkit-scrollbar{
  display: none;
}

.roomBoxHolder header legend{
  padding: 3px 10px;
  border: 1px solid darkgray;
  border-radius: 40px;
  background: white;
  min-width: max-content;
}




@media all and (max-width:1150px){
  .profileBox{
    display: none;
  }
  .lowBox{
    grid-template-columns: 1fr;
  }
}


@media all and (max-width:650px){
  .featuredBox{
    display: flex;
    height: auto;
    padding: 20px;
    width: calc(100% - 40px);
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 0.3rem;
  }
  .featuredBox div article{
    align-items: center;
    gap: 0;
  }
  .featuredBox header{
    position: revert;
  }
  .featuredBox header img{
    position: absolute;
    height: 80px;
    width: 80px;
    object-fit: contain;
    top: -30px;
    left: -30px;
    margin: revert;
  }
  .featuredBox div{
    align-items: center;
    padding: 0;
    justify-content: center;
  }
  .featuredBox > *:nth-last-child(1){
    align-items: center;
  }
  .featuredBox > *:nth-last-child(1) p{
    align-items: center;
  }
  .featuredBox div strong{
    font-size: 1.3rem;
  }
  .featuredBox div article p{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .featuredBox div article p span{
    font-size: 1rem;
  }
  .topNav nav{
    gap: 0.5rem;
  }
  
}

@media all and (max-width:650px){
  .activeBox >*:nth-child(1), .activeBox >*:nth-child(2), .activeBox >*:nth-child(3), .activeBox >*:nth-child(4){
    position: revert;
    left: revert;
  }
}

@media all and (max-width:500px){
  .roomBoxHolder{
    box-shadow: none;
    background: transparent;
    padding: 0;
  }

  .featuredBox header img{
    border-radius: 50%;
    background: salmon;
    height: 60px;
    left: -10px;
    top: -10px;
    width: 60px;
  }
  .featuredBox div article small,.featuredBox div article p{
    display: none;
  }
}