.sidebar{
  width: 18%;
  padding: 5vh 3%;
  height: 90vh;
  position: fixed;
  left: -24%;
  top: 0;
  z-index: 200;
  background: rgba(0, 0, 0, 0.897);
  transition: 0.4s ease;
}

.sidebar sup{
  position: absolute;
  color: var(--color);
  width: 30px;
  height: 30px;
  top: 10px;
  left: calc(100% + 15px);
  cursor: pointer;
  transition: 0.4s ease;
}

.sidebar.change{
  left: 0;
}

.sidebar.change sup{
  left: calc(100% - 40px);
}

.sidebar article{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.sidebar article p legend{
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  justify-content: center;
  border-left: 3px solid var(--color);
}
.sidebar article p legend strong{
  font-weight: 400;
  font-size: 1.8rem;
  color: white;
}

.sidebar article p{
  gap: 0.3rem;
  display: flex;
  color: var(--color);
  align-items: center;
  /* border: 1px solid var(--color); */
}
.sidebar article p span{
  font-weight: 600;
  font-family: var(--bigFont); 
}

.sidebar article button{
  border: 1px solid var(--color);
  background: transparent;
  padding: 3px 10px;
  background: var(--color);
  background: transparent;
  color: var(--color);
  display: flex;
  gap: 0.3rem;
  cursor: pointer;
  align-items: center;
}
/* .sidebar article button span{
  font-family: var(--bigFont);
} */