.roomBox{
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 1rem;
}
.room{
  border: 1px solid darkgray;
  /* border:  ; */
  display: flex;
  border-radius: 15px;
  justify-content: space-between;
  padding: 25px;
  background: white;
  /* background: #3f4cf3; */
  /* background: salmon; */
  /* color: white; */
  /* background: ghostwhite; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.room a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  color: white;
  transition: 0.3s ease;
}
.room .left, .room .right{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}
.room .left{
  align-items: flex-start;
}
.room .right{
  align-items: flex-end;
}

.room ul{
  gap: 0.3rem;
  display: flex;
}
.room ul sub{
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 40px;
  box-shadow: var(--el_shadow);
}

.room ul sub:nth-child(1){
  background: skyblue;
}
.room ul sub:nth-child(2){
  background: wheat;
}
.room ul sub:nth-child(3){
  background: wheat;
}

.room sup{
  height: 10px;
  width: 10px;
  background: salmon;
  display: block;
  border-radius: 50%;
}

.room span{
  font-size: 1.2rem;
}
.room span:nth-child(3){
  color: darkgray;
}


.room nav{
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
.room nav img{
  width: 20px;
  height: 20px;
  border-radius: 3px;
  object-fit: contain;
  background: salmon;
}
.room nav img:nth-child(2){
  background: wheat;
}
.room nav img:nth-child(3){
  background: skyblue;
}

.room legend{
  background: rgba(0, 0, 0, 0.299);
  padding: 0 5px;
  border-radius: 40px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.room strong{
  font-size: 1rem;
}

.room .right p{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media all and (max-width:1150px){
  .roomBox{
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width:800px){
  .roomBox{
    grid-template-columns: 1fr;
  }
}

@media all and (max-width:400px){
  .room{
    display: flex;
    flex-direction: column-reverse;
  }
  .room .left{
    gap: 1rem;
  }
  .room .right{
    /* display: flex; */
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}